##########
# CONFIG #
##########
.DS_Store
.idea
.iml
.project
/intellij-haxe.iml

##########
# GRADLE #
##########
.gradle/

##########
# OUTPUT #
##########
out/
/build/
/build_test/
intellij-haxe*.jar
/haxe-plugin/src/generated/

################
# DEPENDENCIES #
################
/dependencies/downloads
/dependencies/tools
/dependencies/idea-IU
