sudo: required
language: java
install:
  - true
env:
  - IDEA_VERSION=2016.3.8
  - IDEA_VERSION=2017.2.7
  - IDEA_VERSION=2017.3.5
  - IDEA_VERSION=2018.1
os:
  - linux
  - osx

before_script: |
  #Linux
  if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      sudo apt-get -qq update
      sudo add-apt-repository ppa:haxe/releases -y
      sudo apt-get update
      sudo apt-get install haxe -y
      mkdir ~/haxelib
      haxelib setup ~/haxelib
  fi

  #OSX
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew update
      brew install haxe
      mkdir ~/haxelib
      haxelib setup ~/haxelib
  fi

script:
- ./gradlew clean Build verifyPlugin -PgenerateHxcppDebugger=false -PtargetVersion=$IDEA_VERSION -PdevBuild=$DEV_BUILD


notifications:
email: false
jobs:
  include:
    - if: branch = develop AND type = push
      script: make
      env:
        - IDEA_VERSION=2018.1 PLUGIN_VERSION=18 DEV_BUILD=.dev.${TRAVIS_COMMIT::7}
      after_success:
        - curl -k -i -F "userName=$PLUGIN_USER_NAME" -F "password=$PLUGIN_USER_PASS" -F channel=EAP -F pluginId=6873 -F "file=@intellij-haxe-$PLUGIN_VERSION.jar" https://plugins.jetbrains.com/plugin/uploadPlugin
