language: java
jdk:
- oraclejdk7
before_script:
- sudo add-apt-repository ppa:eyecreate/haxe -y
- sudo apt-get update
- sudo apt-get install haxe -y
- mkdir ~/haxelib
- haxelib setup ~/haxelib
- haxelib install hxjava
- haxelib git debugger https://github.com/TiVo/debugger.git
- mkdir build
- mkdir report
script: make ANT_TARGET=$ANT_TARGET test
env:
    - IDEA_VERSION=14.0.4 ANT_TARGET=test
    - IDEA_VERSION=14.1.6 ANT_TARGET=test
    - IDEA_VERSION=15.0.3 ANT_TARGET=compile_test
notifications:
  email: false