language: java
install:
  - true

# We had to remove the matrix and list the builds by hand because Travis
# changed how blank dashes in a key were used (caused errors, but empty
# strings worked better), and osx will fail to parse this file if a mac
# target has a jdk entry.
jobs:
  include:
    - os: osx
      osx_image: xcode9.3
      env: IDEA_VERSION=2020.2.3

    - os: linux
      env: IDEA_VERSION=2020.2.3
      jdk: openjdk8
    - os: linux
      env: IDEA_VERSION=2020.1.4
      jdk: openjdk8
    - os: linux
      env: IDEA_VERSION=2019.3.5
      jdk: openjdk8
#    - os: linux
#      env: IDEA_VERSION=2019.2.4
#      jdk: openjdk8
#    - os: linux
#      env: IDEA_VERSION=2019.1.4
#      jdk: openjdk8
    - os: linux
      env: IDEA_VERSION=2018.2.8
      jdk: openjdk8
#    - os: linux
#      env: IDEA_VERSION=2017.3.5
#      jdk: openjdk8
#    - os: linux
#      env: IDEA_VERSION=2016.3.8
#      jdk: openjdk8

    # Build and push the nightly (EAP) version.
    - if: branch = develop AND type = push
      script: make
      env:
        - IDEA_VERSION=2018.1.6 PLUGIN_VERSION=18 DEV_BUILD=.dev.${TRAVIS_COMMIT::7}
      after_success:
        - curl -k -i -F "userName=$PLUGIN_USER_NAME" -F "password=$PLUGIN_USER_PASS" -F channel=EAP -F pluginId=6873 -F "file=@intellij-haxe-$PLUGIN_VERSION.jar" https://plugins.jetbrains.com/plugin/uploadPlugin


before_script: |
  #Linux
  if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      sudo apt-get -qq update
      sudo add-apt-repository ppa:haxe/releases -y
      sudo apt-get update
      sudo apt-get install haxe -y
      mkdir ~/haxelib
      haxelib setup ~/haxelib
  fi

  #OSX
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew update
      brew install haxe
      mkdir ~/haxelib
      haxelib setup ~/haxelib
  fi

script:
- ./gradlew clean Build verifyPlugin -PgenerateHxcppDebugger=false -PtargetVersion=$IDEA_VERSION -PdevBuild=$DEV_BUILD

notifications:
  email: false
