language: java
jdk:
- oraclejdk7
before_script:
- sudo add-apt-repository ppa:eyecreate/haxe -y
- sudo apt-get update
- sudo apt-get install haxe -y
- mkdir ~/haxelib
- haxelib setup ~/haxelib
- haxelib install hxjava
- haxelib git debugger https://github.com/TiVo/debugger.git
- mkdir build
- mkdir report
script: make test
env:
    - IDEA_VERSION=13.1.6
    - IDEA_VERSION=14.0.1
    - IDEA_VERSION=14.1.1
notifications:
  email: false