name: Build, IntelliJ-Haxe-plugin

on:
  push:
    branches:
      - 'master'
      - 'develop'
      - 'feature/*'
    pull_request:
      branches:
        - 'master'
        - 'develop'
        - 'feature/*'

jobs:
  Build:
    strategy:
      fail-fast: false # set this to true if you want to cancel all builds if one fails.
      matrix:
        IDEA_VERSION: [2020.2, 2020.1.4,2019.3.5,2018.3.6]
        OS: [macOS-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.OS }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          architecture: x64

      - name: Set up Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.1.3

      - name: Test haxe
        run: haxe -version

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Cache plugin downloads
        uses: actions/cache@v2
        with:
          path: $GITHUB_WORKSPACE/dependencies
          key: ${{ matrix.IDEA_VERSION }}-downloads-${{ hashFiles('downloads/**') }}
          restore-keys: ${{ matrix.IDEA_VERSION }}-downloads

      - name: Cache intelliJ downloads
        uses: actions/cache@v2
        with:
          path: $GITHUB_WORKSPACE/idea-IU
          key: ${{ matrix.IDEA_VERSION }}-idea-${{ hashFiles('ideaIU-${{ matrix.IDEA_VERSION }}/**') }}
          restore-keys: ${{ matrix.IDEA_VERSION }}-idea

      - name: Build with Gradle
        run: gradle clean build verifyPlugin -PtargetVersion="${{ matrix.IDEA_VERSION }}"
